.allSummary{
  height: 100vh;
  .container{
    background-color: rgb(229, 232, 232);
    justify-content: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33%;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
      "table table table"
      "product1 product2 product3";
    grid-gap: 0.4rem;
    height: 100%;
    
    .table{
      background-color: rgb(255, 255, 255);
      grid-area: table;
    }
    .product1{
      background-color: rgb(255, 255, 255);
      grid-area: product1;
    }
    .product2{
      background-color: rgb(255, 255, 255);
      grid-area: product2;
    }
    .product3{
      background-color: rgb(255, 255, 255);
      grid-area: product3;
    }
  }
}