.machinePage {
    height: 1080px;
    overflow: hidden;

    .container {
        background-color: rgb(229, 232, 232);
        margin-top: 10px;
        display: grid;
        grid-template-columns: 55% 44%;
        grid-template-rows: 30% 47%;
        grid-template-areas:
            "progressBar graph"
            "table  graph";
        grid-gap: 0.4rem;
        height: 100%;

        .progressBar {
            background-color: rgb(255, 255, 255);
            grid-area: progressBar;
            display: flex;
            justify-content: center;
            padding-top: 15px;
        }

        .table {
            background-color: rgb(255, 255, 255);
            grid-area: table;
        }

        .graph {
            padding: 20px;
            background-color: rgb(255, 255, 255);
            grid-area: graph;
        }

        .exportButton {
            background-color: rgb(255, 255, 255);
            grid-area: exportButton;
            align-items: center;
            padding: 100px;
            padding-left: 300px;
        }
    }
}