.productPage{
  height: 1080px;
  overflow: hidden;
  .container{
    background-color: rgb(229, 232, 232);
    // justify-content: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 30% 44%;
    grid-template-rows: 30% 30% 20%;
    grid-template-areas: 
      "barChart progressBar graph"
      "table table graph"
      "table2 table2 table2";
    grid-gap: 0.4rem;
    height: 100%;
    .barChart{
      justify-content: center;
      padding-top: 20px;
      background-color: rgb(255, 255, 255);
      grid-area: barChart;
    }
    .progressBar{
      background-color: rgb(255, 255, 255);
      grid-area: progressBar;
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }

    .table{
      background-color: rgb(255, 255, 255);
      grid-area: table;
    }
    .table2{
      background-color: rgb(255, 255, 255);
      grid-area: table2;
    }
    .graph{
      padding: 20px;
      background-color: rgb(255, 255, 255);
      grid-area: graph;
    }
    .exportButton{
      background-color: rgb(255, 255, 255);
      grid-area: exportButton;
      align-items: center;
      padding: 100px;
      padding-left: 300px;
    }
  }
}