.summary{
  .summaryContainer{
    
    
    
    .widget{
      height: 300px;

      width: 50%;
      display: flex;
      padding: 20px;
      gap:20px;
    }

    .rightCharts{
      padding: 20px;
      gap:20px;
      margin-top: -330px;
      margin-left: 52%;

      
    }
    .percentages{
      display: flex;
      padding: 15px;
      gap:20px;
      margin-top: 0px;
      margin-left: 52%;

    }
    .table{
      padding: 20px;
      gap:20px;
      margin-top: -425px;
      justify-content: center;

      .tableTitle{
        width:50%;
        padding: 17px;
        font-weight: 700;
        font-size: 20px;
        font-family:sans-serif;
        justify-items: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.05);
        background-color: rgb(251, 240, 255);
      }
    }
   
    
  }
}



