.summary{
  .summaryContainer{
    
    .box{
      .pickers{
        display: flex;
        position: relative;
        gap: 60px;
      }
    }

    .container2{
      display: grid;
      height: 90vh;
      grid-template-columns: 15% 40% 45%;
      grid-template-rows: 55% 35%;
      grid-template-areas: 
      "machines table graph"
      "machines percentages widgets3"
      ;
      grid-gap: 0.2rem;

      .machines{
        background-color: rgb(216, 230, 230);
        grid-area: machines;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;


        .machineTitle{
          padding: 17px;
          font-weight: 700;
          font-size: 15px;
          font-family:sans-serif;
          justify-items: center;
          align-items: center;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.05);
          background-color: rgb(214, 181, 226);
        }
      }

      .widgets3{
        background-color: rgb(228, 236, 236);
        grid-area: widgets3;
        height: 300px;
  
        display: flex;
        padding: 20px;
        gap:20px;
      }

      .graph{
        background-color: rgb(225, 231, 231);
        grid-area: graph;
        padding: 30px;
        gap:20px;


      }

      .table{
        background-color: rgb(225, 231, 231);
        grid-area: table;
        padding: 20px;
        gap:20px;
        justify-content: center;

        .tableTitle{
          padding: 17px;
          font-weight: 700;
          font-size: 20px;
          font-family:sans-serif;
          justify-items: center;
          align-items: center;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.05);
          background-color: rgb(251, 240, 255);
        }
  
      }
      .percentages{
        background-color: rgb(225, 231, 231);
        grid-area: percentages;
        display: flex;
        flex-direction: row;
        padding: 15px;
        gap:20px;
  
      }
    }
      
  }
}