.calendar-date {
  position: relative;
  width: 99rem;
  height: 4rem;
}

.calendar-date i {
  font-size: 4rem;
}

.date-overlay {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}
