.sidebar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 28%;
    left: -1%;
    padding: 2rem 1rem;
    width: 4.5rem;
    height: 60vh;
    transition: width 0.5s;
    flex-shrink: 0;
    z-index: 1;
    opacity: 0.5;
    border: 2px solid lightgrey;
    border-radius: 12px;

    &:hover {
        width: 13rem;
        opacity: 1;
            padding-left: -3rem;

        ul {
            padding-right: 3rem;

        }
    }

    //  .logoContainer {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     transition: opacity 0.5s, width 0.5s;


    // h2.title {
    //     font-size: 25px;
    //     color: black;
    //     padding: 0 0 0 0rem;
    //     opacity: 1;
    //         background-color: purple;
    // }

    //     img {
    //         transition: right 0.5s, width 0.5s, height 0.5s;
    //         width: 3rem;
    //         height: 3rem;
    //         left: 1rem;
    //     }
    // }

    // &:hover .logoContainer h2.title {
    //     opacity: 1;
    // }

    .menuIconContainer {
        content: "";
        background-color: purple;
        position: absolute;
        right: calc(-35px / 2);
        top: -20px;
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;
        cursor: pointer;

        .menuIconTrigger {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .menuIcon {
            content: "";
            background-color: rgb(255, 255, 255);
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            left: 0.45rem;
            bottom: calc(-35px / 2);
        }

        .menuIcon::after {
            content: "";
            background-color: white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            // transform: translateY(-0.4rem) rotate(45deg);
        }

        .menuIcon::before {
            content: "";
            background-color: white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            // transform: translateY(0.4rem) rotate(-45deg);
        }
    }

    .menuIconContainer::after {
        content: "";
        position: absolute;
        right: 35px;
        top: calc(35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: lightgrey;
        height: 2px;
    }

    .contentContainer {
        margin: 7rem 0 0 0;
        opacity: 1;
        transition: opacity 0.5s, width 0.5s;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            list-style: none;
            // padding-left: 3rem;
            margin: 0;

            li {
                margin: 0.0rem 0rem;
                padding: 1.75rem 0;
                max-width: 15rem;
                width: 100%;
                text-align: center;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: rgb(71, 71, 71);
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0rem;
                    padding-left: 0.5rem;
                    width: 100%;
                    transition: background-color 0.25s, color 0.25s;

                    &:hover {
                        background-color: rgb(196, 196, 196);
                        color: rgb(255, 255, 255);
                        
                    }

                    img {
                        margin-right: 0rem;
                        transition: margin 0.5s;
                        padding-left: 3rem;
                        size: 30px 30px;
                    }
                    span {
                        transition: opacity 0.5s;
                        opacity: 0;
                    }
                }

                &.active a {
                    background-color: rgb(238, 189, 238);
                    color: rgb(91, 89, 218);
                }
            }
        }
    }

    &:hover .contentContainer {
        opacity: 1;

        ul li a span {
            opacity: 1;
        }

        ul li a img {
            margin-right: 1rem;
        }
    }
}