.machinesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.machine {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.moldsUsed {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.moldButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: #0056b3;
  }
}

.notSelected{
  font-family: sans-serif;
  padding: 10px;
  font-weight: 500;
  margin-top: 10px;
  align-items: center;
}
