.widgets{
  flex:1;
  height: 150px;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: #EADDFF;
  border: 2px solid #4F378B;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    background-color: #cbbbf6;
  }
  .top{
    
  padding: 25px;    
  display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    color: #2f1e5a;
    
    .title{
      font-weight: 750;
      font-size: 10px;
      font-family: sans-serif;
    }
    .icon{
      font-size: 20px;
    }
  }

  .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #311f61;
    

    .count{
      font-weight: 900;
      font-size: 30px;
      font-family: sans-serif;
    }

  }
}
