@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=san-serif:wght@400;700&display=swap');




:root{
        scroll-behavior: smooth;
        --primary: #4154f1;
        --secondary: #f1f1f1;
        --bgColor: #f1f1f1;

}

body{
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--bgColor);
        color: #333;
}

a{
        text-decoration: none;
        color: var(--primary);
        cursor: pointer;
}

a.hover{
        color:var(--secondary);
        text-decoration: none;
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'san-serif', sans-serif;
}