.hourly-rate-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 10px;
    padding: 10px;
    flex-grow: 1;
    // margin-left: 70px;
    position: relative;

    .machine-block {
        border: 1px solid #b6b6b6;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        width: 98%;
        height: 170px;
        cursor: pointer !important;

        &:hover {
            transform: scale(1.01);
        }

        .status {

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 98% !important;
            height: 1% !important;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;

            .Smachine {
                height: 20px;
                width: 20px;
                border-radius: 10px;
            }

            @keyframes blink-p {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            .ESmachine {
                height: 20px;
                width: 20px;
                border-radius: 10px;
                animation: blink-p 1s infinite;

            }
        }

        .Rchart-container {

            width: 78%;
            height: 100%;
            margin-top: 6%;
            margin-left: -2%;
            cursor: pointer !important;
        }

        .rate-rate {
            font-size: 11px;
            margin-left: 10%;
            text-align: center;
            padding: 2px 0 4px 4px;
    
        }


        .popup {
            display: none;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 10px;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
            border-radius: 3px;
            white-space: nowrap;
        }

        &:hover .popup {
            display: block;
        }

        .progress-bar-container {
            margin-top: 4px;
            margin-left: 0px;
            width: 65%;
        }



    }
}


    