.production-page {
    padding: 20px;
    background-color: #EAEFF3;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #B0BEC5;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    text-align: center;
    cursor: pointer;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    }

    h2 {
        font-size: 1.4rem;
        color: #37474F;
        margin-bottom: 15px;
    }

    .progress-container {
        margin-top: 18px;
        width: 100%;
        background-color: #E0E0E0;
        border-radius: 4px;
        // overflow: hidden;
        position: relative;

        .progress-bar {
            height: 13px;
            background-color: #4CAF50;
            transition: width 0.3s ease;
        }

        .progress-percentage {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #ffffff;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }

    &.emergency {
        border-color: #FF5252;
        background-color: #FFEBEE;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    width: 75%;
    max-width: 600px;
    text-align: center;

    h2 {
        font-size: 1.6rem;
        color: #37474F;
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 20px;
        font-size: 1.2rem;
        color: #616161;
    }

    .parts-mold-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-top: 10px;
    }

    .part-mold-item {
        padding: 10px;
        border: 1px solid #B0BEC5;
        border-radius: 5px;
        background-color: #F1F8E9;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #C8E6C9;
        }

        .part-name {
            font-weight: bold;
            color: #388E3C;
        }

        .mold-name {
            font-style: italic;
            color: #616161;
        }
    }
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #388E3C;
    }
}