.real-time-container{
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding:10px;
        border: 1px solid #ccc;
        height: 950px;
        width: 1260px;
}

.real-time-container{
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding:10px;
        border: 1px solid #ccc;
}
/*
.table table-striped{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ccc;
}*/