/*RealTime*/
.card-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        height: 88%;
        width: 99%;
        padding-top: 10px;
        padding-left: 30px;
        overflow: hidden;
}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border: 1px solid #ccc;
        height: 175px;
        overflow: hidden;
        width: 98%;
        border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);

}

.headrow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        width: 98%;
        /*color: #012970;*/
}
.bodyrow1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        border: 1px solid #e6e6e6;
        /*color: #012970;*/

}


.statusdot{
        width:160px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;


}
.lable{
        width:80px;
        height:30px;
        border: 2px solid #ccc;
        border-radius: 3px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
        
}
.tooltip{
        background-color: #fff;



}


/*Machine Status*/
.machine-status{
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: 1px solid #ccc;
        height: 950px;
        width: 625px;

}
button {
        display: flex;
        border: none;
        padding: 7px 1px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px; /* Round corners */
        margin-top: 15px;
        margin: 5px;
        width: 191px;
        height: 50px;
        font-size: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}

