/*RealTime*/
.card-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 15px;
        grid-column-gap:10px;
        
        width: 99%;
        padding-top: 5px;
        padding-left: 30px; 
}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        height: 100%;
        overflow: hidden;
        width: 98%;
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);

}

.statu{
        height: 20px;
        cursor: default;
        display: flex;
        justify-content: space-between;
        width:65%;
        font-weight:bold;
        color:#fff;
        font-size: 14px;
        margin-top: 5px;
        padding-right: 10px;



}
.headrow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        width: 100%;/*98%*/
}
.bodyrow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;/*98%*/
        border-radius: 10px;
        padding-top: 5px;

}

.lable {
        content: ""; /* Hide default content */
        position: absolute;
        top: -5px; /* Adjust for padding/margin */
        left: -5px; /* Adjust for padding/margin */
        width: calc(100% + 10px); /* Add padding to text width */
        height: calc(100% + 10px); /* Add padding to text height */
        background-color: white; /* Set background color (optional) */
        border: 1px solid black; /* Set border */
        /* Adjust border color and width using existing props if needed */
        /* border-color: ${props.borderColor || 'black'}; */
        /* border-width: ${props.borderWidth || 1}px; */
        box-sizing: border-box; /* Ensure padding adds to box size */
        z-index: -1; /* Render behind the text */
        transition: all 0.2s ease-in-out; /* Optional: Add hover effects */
      }
      
.lable:hover {
        background-color: #bd3e3e; /* Optional: Hover background color */
}



.tooltip{
        background-color: #fff;



}


/*Machine Status*/
.machine-status{
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: 1px solid #ccc;
        height: 950px;
        width: 625px;

}
button {
        display: flex;
        border: none;
        padding: 7px 1px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px; /* Round corners */
        margin-top: 15px;
        margin: 5px;
        width: 191px;
        height: 50px;
        font-size: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}

