.button-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        width: 605px;
        height: 650px;
        margin-top: 15px ;
        margin-left:10px;
}
      
.button-grid button {
        border-radius: 8px;
        cursor: pointer;
        width: 100px;
        height: 45px;
        font-size: 30px;
        color: white;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}
