.machine-card {
        width: 240px;
        height: 460px;
        background-color: #dfdbdb;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
        /* Styles for the machine card, e.g., background color, border, padding */
      }
      


.machine-grid {
        display: grid;
        border : 2px solid #ccc;
        /* Styles for the grid container, e.g., width, height, display: grid */
      }
      
.grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columns */
        grid-template-rows: repeat(10, 1fr); /* 10 rows */
        gap: 10px; /* Space between cards */
      }

/*
.mcard-grid{
        width: 240px;
        height: 460px;
        background-color: #dfdbdb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-top: 15px ;
        margin-left:10px;*/