.status-container {
        display: flex;
        justify-items: space-between;
        align-items: center; /* Center items horizontally */
        gap: 20px; /* Add spacing between items */
        /*border: 1px solid #ccc;*/
        width: 520px;
        margin: auto;
      }
      
.status-item {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        gap: 5px; /* Spacing between name and value */
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 160px;
        padding: 5px;

}

.status-name{
        font-size: 18px;
        font-weight: bold;
        color:#381E72;
}
.status-value{
        font-size: 30px;
        color:#381E72;
}
      