.secondbar {
  width: 100%;
  height: 50px;


  .box{

    padding-top: 10px;
    padding-left: 1%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      height: 40px;
      display: flex;

      gap:1%;

        li{
          height: auto;
          width: 32.4%;
          display: flex;
          align-items: center;
          flex-direction: row;  
          box-sizing:content-box;
          border: 1px solid #201F67;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.05);
          border-radius: 8px;
          justify-content: center;

          &:hover{
            cursor: pointer;
            background: #c6b2f1;
            color: #E0E0E0;
          
          
          }

          .icon {
            size: 10px;
            display:grid;
            place-items: center;
            color: #201F67;


        .icon {
          size: 10px;
          display: grid;
          place-items: center;
          color: #201f67;
        }

        span {
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          margin-left: 10px;
          color: #201f67;
          font-size: 15px;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          font-style: normal;
          font-weight: bold;
        }
      }
    }
  }
}

.active {
        color: #ffffff;
        background-color: #012970;
      }
