.drop-down-container {






  /* Purple background color for the container */

  /* Adds padding around the container */
  width: 100%;
  border-radius: 20px;
  /* Adds a box shadow */
  height: 100%;
 
}