.dropdown{
  top:-25px;
  width:250px;
  height: 40px;
  user-select: none;
  left: 84.5%;
  position:relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
}

.dropdown .dropdown-btn{
  padding: 7px 10px;
  background-color: #fdfdfd;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight:400;
  color: #534e4e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 6px;

}
.dropdown .dropdown-content{
  position: absolute;
  top: 110%;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 93%;
  font-size: 13px;
}

.dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;

}

.dropdown .dropdown-content .dropdown-item:hover{
  background-color: #f3e4f7;
}