.rate-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f1f1f1;
    /* Light grey background color */

    /* Adds padding around the page */
    font-family: Arial, sans-serif;
    /* Font family */

    .container {
        margin-top: 20px;
        margin-left: 1200px;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        background: #fdfeec;
        height: calc(100vh - 135px);
        /* Purple background color for the container */
        /* Adds padding around the container */
        width: 1000px;
        /* Makes the container full width */

    }

    .btn {
        background-color: #05ff19;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 45px;
        border-radius: 15px;
        cursor: pointer;
        width: 300px;
        height: 180px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;

    }
}