.fixed-element {
    position: fixed;
    inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
    width: 100%; /* Optional: Set width to 100% for horizontal filling */
    height: 100%; /* Optional: Set height to 100% for vertical filling */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* Add -webkit-backdrop-filter for Safari support */
    z-index: 100;

  }

  .fixed-element2{
    position: fixed;
    inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
    width: 100%; /* Optional: Set width to 100% for horizontal filling */
    height: 100%; /* Optional: Set height to 100% for vertical filling */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(55px); /* Add -webkit-backdrop-filter for Safari support */
    z-index: 110;
  
  }

.xbutton{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    width:35px;
    height: 35px;
    border-radius: 30%;
    padding: 0.3%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
    margin-left: 95%;

}
.xbutton:hover{
    color: #ff0000;
    transform: scale(1.05);
}
  

.buttons{
    background-color: #ffffff;
    display: flex;
    align-self: center;
    font-weight: bold;
    border: '1px solid #000';
    color: black;
    padding: 17px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 3px;
    cursor: pointer;
    width:265px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.buttons:hover{
    color: #5662cc;
    transform: scale(1.02);
    border-right: 3px solid #201f67;
}

.machinesettings{
    padding: 4%;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 15px;
    height: 630px;
    width:660px;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);

}

.selectbutton{
    background-color: #201f67;
    display: flex;
    font-weight: bold;
    border: '1px solid #000';
    color: #ffffff;
    padding: 17px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 3px;
    cursor: pointer;
    width:265px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.selectbutton:hover{
    color: #ffffff;
    transform: scale(1.02);
}

.dropbox{
    width: 180px;
    margin-top: 20px;
    margin-left: 350px;
}
.lablelayer{
    width:300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-left: 60px;
}

.lablelable{
    font: bold;
    font-size: large;
    align-self: flex-start;

}

.inputbox{
    width: 150px;
    height: 25px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 3px;
    align-self: flex-start;
    font-size: medium;
    overflow-wrap: break-word;
}

.textbox{
    font-family: Arial, sans-serif;
    font-size: medium;
    resize: none;
    width: 300px;
    height: 150px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 3px;

}

.buttonedit{
    background-color: #ffffff;
    border: '1px solid #000';
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 20px 410px;
    cursor: pointer;
    width:100px;
    height: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.buttonedit:hover{
    color: #3847ce;
    background-color: #ebebeb;
    transform: scale(1.05);
}

.pwbox{
    width: 450px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.05);
    
}